/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* variables */
:root {
    --background-color: #1F2937;
    --txt-color: #F9FAF8;
    --header-logo-size: 24px;
    --header-link-size: 18px;
    --header-size: 48px;
    --img-color: #6d747d;
    --header-txt-color: #E5E7EB;
    --btn-bg: #3882F6;
    --btn-size: 18px;
    --subtext-color: #555e6b;
    --quote-bg: #e5e7eb;
    --quote-size: 36px;
    --quote-color: #1F2937;
}

/* navbar */
.hero {
    background-color: var(--background-color);
}

.navbar {
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    color: var(--txt-color);

}

.left-nav {
    font-size: var(--header-logo-size);
}

.link {
    padding: 0 2rem;
    color: var(--txt-color);
    font-size: var(--header-link-size);
    text-decoration: none;
}

/* navbar done */
/* main section of hero */
.main {
    margin: 6rem 10rem;
    color: var(--txt-color);
    display: flex;
    justify-content: space-between;
    padding: 4rem 0rem 8rem 0rem;
}

.left-main {
    display: flex;
    flex-direction: column;
}

.right-main {
    background-color: var(--img-color);
    width: 55%;
    margin: 0rem 2rem;
    padding: 5rem 3rem 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-size: var(--header-size);
    margin-right: 25rem;
    font-weight: bolder;
}

.main-txt {
    font-size: var(--header-link-size);
    color: var(--header-txt-color);
    padding: 0.2rem 0rem;
    margin: 0.5rem 25rem 0.5rem 0rem;
}

.btn {
    background-color: var(--btn-bg);
    color: var(--txt-color);
    align-self: flex-start;
    padding: 0.2rem 2rem;
    font-size: var(--btn-size);
    border-radius: 8px;
    font-weight: 900;
    border: none;
}

/* main section of hero done */

/* main content begins */

/* main-content-one begins */
.flex-main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.main-heading {
    margin-bottom: 6rem;
}

.carousel-items {
    display: flex;
    align-items: center;
    /* background-color: rebeccapurple; */
    min-width: 60%;
    justify-content: space-between;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtext {
    max-width: 11rem;
    margin: 1rem 0rem;
    color: var(--subtext-color);
}

.img {
    width: 12rem;
    height: 12rem;
    border: 2px solid var(--btn-bg);
    border-radius: 15px;
}

.holder {
    height: 50rem;
}

/* main-content-one ends */
/* main-content-two starts */
.main-content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--quote-bg);
    margin: 5rem 0rem;
    padding: 10rem 0rem 8rem;
}

.quote {
    max-width: 60%;
    font-size: var(--quote-size);
    font-style: italic;
    color: var(--quote-color);
}

.quote-author {
    align-self: flex-end;
    padding-right: 21%;
}

/* main-content-two ends */

/* main content ends */